/* x & y-axis titles */
.axisText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-anchor: middle;
}

/* Active x & y-axis titles */
.active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

/* Inactive x & y-axis titles */
.inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

/* Inactive x & y-axis titles when hovered over */
.inactive:hover {
    fill: #415a77;
    cursor: pointer;
}

/* State circle labels */
.stateText {
    font-family: sans-serif;
    fill: #e3e3e3;
    text-anchor: middle;
    font-size: 11px;
}

/* State circles */
.stateCircle {
    fill: #415a77;
    opacity: 1;
}

/* cirlces when hovered */
.stateCircle:hover {
    fill: #778da9;
    stroke: black;
    opacity: 1;
}

/* state text when hovered */
.stateText:hover {
    font-family: sans-serif;
    fill: white;
    text-anchor: middle;
    font-size: 11px;
}

/* Tooltip */
.d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}

/* Chart Title */
.chart-title {
    text-anchor: middle;  
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    font-weight: bold;
}


/* Media Rules for shrinking page */
@media screen and (max-width: 770px) {
    .chart-title {
        font-size: 18px;
    }
    .stateText {
        display: none;
        }
}

@media screen and (max-width: 530px) {
    .axisText {
    font-size: 14px;
    }
    .chart-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .axisText {
    font-size: 13px;
    }
    .chart-title {
        font-size: 14px;
    }
}