/* Navbar Addition */
#logo {
    width: 100px;
    height: auto;
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
    padding: 0px;
    border: #90A187ff solid;
    border-width: 8px;
}

/* Navbar */
.navbar {
    padding: 0px;
    background: whitesmoke;
    width: 100%;

}

/* Navbar: specifically the website title */
.navbar-light .navbar-brand {
    /* font-size: 25px; */
    /* font-weight: bold; */
    color: whitesmoke;
    /* background: #90A187ff; */
    padding: 20px;
    margin-left: 20px;
    color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

/* Navbar: list objects */
.navbar li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* Navbar: list objects (link text) */
.navbar li a {
    text-decoration: none;
    color: #34553Aff;
    font-size: 18px;
    text-align: right;

}

@media (max-width: 768px) {
    #logo {
        width: 80px;
    }
}

#scatter-plot {
    padding: 30px;
    background-color: white;
}

/* Body */
body {
    font-family: 'Cambria', Georgia, serif;
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(235, 235, 235)
}

/* Jumbotron */
.jumbotron {
    background-color: #415A77;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
    border-radius: 0px;
    padding: 40px;
}

/* Jumbotron heading */
.jumbotron h1 {
    font-size: 50px;
}

/* Sub-title */
#sub-title {
    background-color: #778da9;
    color: white;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
    width: 80%;
}

#sub-title h3 {
    font-size: 30px;
    color: #27313F;
}

/* Article Location */
#article-location {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Article Paragraph */
#article-location p {
    font-size: 20px;
}

/* R-squared location */
#r-squared-location {
    margin-top: 30px;
    text-align: center;
}

/* R-squared paragraph */
#r-squared-location p {
    font-size: 20px;
}

.color-green {
    background-color: #5F9586;
}
.color-orange {
    background-color:  #80ADA0;
}
.color-yellow {
    background-color: #FFD166;
}
.color-red {
    background-color: #D57A66;
}