#scatter-plot {
    padding: 30px;
    background-color: white;
}

/* Body */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F7F8F2;
}

/* Jumbotron */
.jumbotron {
    background-color: #415A77;
    color: white;
    margin-bottom: 0px;
    border-radius: 0px;
}

/* Jumbotron heading */
.jumbotron h1 {
    font-size: 50px;
}

/* Sub-title */
#sub-title {
    background-color: #778da9;
    color: white;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
    width: 80%;
}

/* Article Location */
#article-location {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Article Paragraph */
#article-location p {
    font-size: 20px;
}

/* R-squared location */
#r-squared-location {
    margin-top: 30px;
    background: white;
    text-align: center;
}

/* R-squared paragraph */
#r-squared-location p {
    font-size: 20px;
}

.color-green {
    background-color: #5F9586;
}
.color-orange {
    background-color:  #80ADA0;
}
.color-yellow {
    background-color: #FFD166;
}
.color-red {
    background-color: #D57A66;
}